.title {
    margin-top: 5%;
    margin-left: 15%;
    padding: 25px;
    color: #0A894C;

}



.maps-grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 0px 15% ;
    grid-gap: 10px;
}
#map {
    height: 600px;
    width: 100%;
    border: solid 3px #0A894C;
    border-radius: 15px;
}

.title-right{
    text-align: center;
}

.shoppingList {
    background-color: #fff;
    padding: 20px 10px;
}

.style-ing {
    background-color: white;
  margin: 10px 10px;
  padding: 5px 0px;
  margin: 10px 10px;
  padding: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

#ingredients {
    overflow: auto;
    max-height: 500px;
}



  
