body {
    background-color: #EFF6F3;
}

.mealplan-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;


}

.meal-green-container {
    grid-column: 2/3;
    background-color: #AED3C2;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.breakfastmeal {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    border: solid #0AAF60 2px;
    border-radius: 20px;
    background-color: white;
    margin: 10px 0px;
    padding: 5px 0px;

}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.imgmeal {
    display: flex;
    justify-items: center;
    align-items: center;
}

.rightside {
    padding: 5px;
    margin: 10px 0px;
}

.title-meal {
    font-size: 20px;
}

.pluss {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 40px;
    line-height: 0px;
    color: #0AAF60;

}