*{
font-family: 'Inter', sans-serif;font-family: 'Manrope', sans-serif;font-family: 'Playfair Display', serif;font-family: 'Poppins', sans-serif;font-family: 'Roboto', sans-serif;
}


#map {
height: 400px;
width: 100%;
}
