* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  position: absolute;
  content: "";
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

/*--- btn-2 ---*/
.btn-2::before {
  background-color: #0aaf60;
  transition: 0.3s ease-out;
  border-radius: 5px;
}
.btn-2 span {
  color: rgb(255, 255, 255);
  /* border: 1px solid rgb(255, 255, 255); */
  transition: 0.2s;
  border-radius: 5px;
}

.underline-style {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  color: #fff;
}
.underline-style:hover {
  color: #fff;
  border-bottom: none;
}
.btn-2 span:hover {
  color: #fff;
  transition: 0.2s 0.1s;
  /* border: 1px solid #0aaf60; */
  border-radius: 5px;
}

/* hover-opacity */
.btn.hover-opacity::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.btn.hover-opacity:hover::before {
  opacity: 1;
}
