h1 {
  margin-top: 150px;
  margin-bottom: -100px;
  padding-left: 10%;
  color: #0a894c;
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  margin-top: 100px;
  width: 100%;
  margin-bottom: -0px;
  border-radius: 10px;
}

.contact-us {
  width: 80%;
  margin-top: -100px;
  margin-left: 170px;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: green;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  background-color: #eff6f3;
  border: 1px solid green;
  box-sizing: border-box;
  border-radius: 5px;
}

.message-btn {
  width: auto;
  height: 6vh;
  border-radius: 5px;
  border: 1px solid #0aaf60;
  background-color: transparent;
  margin: auto;
  min-width: 150px;
  transition: 0.5s;
}

.message-btn:hover {
  background-color: #0aaf60;
  color: white;
}
