.maps-container {
  padding: 0;
}

.title {
  margin: 0;
  margin-top: 10%;
  text-align: left;
  padding: 25px;
  color: #0a894c;
}

#map {
  height: 600px;
  width: 100%;
  border: solid 3px #0a894c;
  border-radius: 15px;
}

.title-right {
  text-align: center;
}

.shoppingList {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 15px;
}

.style-ing {
  background-color: white;
  margin: 10px 10px;
  padding: 5px 0px;
  margin: 10px 10px;
  padding: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

#ingredients {
  overflow-y: scroll;
  max-height: 520px;
}

#ingredients::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#ingredients::-webkit-scrollbar-thumb {
  background-color: rgba(42, 171, 19, 0.5); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Radius of the scrollbar thumb */
}

#ingredients::-webkit-scrollbar-track {
  background-color: rgba(237, 231, 231, 0.1); /* Color of the scrollbar track */
}

.active-page {
  text-align: center;
  border-bottom: 2px solid #0aaf60;
  padding-bottom: 5px;
}

.enviroment {
  margin-left: 12%;
  margin-top: 3%;
  position: relative;
  display: flex;

  background-color: #6aaf8e;
  width: 50%;
  padding: 2%;
  border-radius: 10px;
}
.enviroment img {
  height: 6vh;
  margin-bottom: 2%;
  margin-right: 2%;
}

.paragraph {
  line-height: 3vh;
  color: white;
}
