.maps-container {
  padding: 0;
}

.title {
  margin: 0;
  margin-top: 5%;
  text-align: center;
  padding: 25px;
  color: #0a894c;
}

#map {
  height: 600px;
  width: 100%;
  border: solid 3px #0a894c;
  border-radius: 15px;
}

.title-right {
  text-align: center;
}

.shoppingList {
  background-color: #fff;
  padding: 20px 10px;
}

.style-ing {
  background-color: white;
  margin: 10px 10px;
  padding: 5px 0px;
  margin: 10px 10px;
  padding: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

#ingredients {
  overflow-y: scroll;
  max-height: 500px;
}

#ingredients::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#ingredients::-webkit-scrollbar-thumb {
  background-color: rgba(42, 171, 19, 0.5); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Radius of the scrollbar thumb */
}

#ingredients::-webkit-scrollbar-track {
  background-color: rgba(237, 231, 231, 0.1); /* Color of the scrollbar track */
}
